<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShortUrl</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--    <script src="/bootstrap/js/bootstrap.bundle.min.js" ></script>-->
</head>
<body>
<h1>MyShortUrl <span th:text="${version}"></span></h1>
<div class="position-relative">
    <table class="table" style="table-layout: auto">
        <thead>
        <tr>
            <th>Remark</th>
            <th>Short Name</th>
            <th>Original Link</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${linksData}">
            <td th:text="${row.remark()}"></td>
            <td th:text="${row.shortName()}"></td>
            <td><a th:href="${row.originalLink()}"><span th:text="${row.originalLink()}"></span></a></td>
            <td>
                <form th:action="@{/links/modify/{sn}(sn=${row.shortName()})}" method="post">
                    <button type="submit" class="btn">modify</button>
                </form>
                <form th:action="@{/links/delete/{sn}(sn=${row.shortName()})}" method="post">
                    <button type="submit" class="btn">delete</button>
                </form>
<!--                <p><a th:href="">modify</a></p>-->
<!--                <p><a th:href="">delete</a></p>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p>Total <span th:text="${numberOfLinks}">1</span> short <span th:text="${isMultipleLinks}">link</span></p>
<hr>
<div class="position-relative">
<p>Copyrights 吾乡Losky © 2010-2024 ALL RIGHTS RESERVED.</p>
<p>This is an opensource project, use MIT license. See <a href="https://github.com/losky2987/MyShortUrl">
    <img src="https://github.com/favicon.ico" alt="Github Icon" width="30px" height="30px"></a></p>
</div>
</body>
</html>