<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyShortUrl - MgrUI</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--    <script src="/bootstrap/js/bootstrap.bundle.min.js" ></script>-->
</head>
<body>
<div class="position-relative">
    <p>Welcome! <span th:text="${username}">USER</span></p>
</div>
<hr>
<div class="position-relative">
    <button type="button">Create</button>
    <button type="button">Select</button>
    <button type="button">Remove</button>
</div>
<hr>
<div class="position-relative">
    <table class="table" style="table-layout: auto">
        <thead>
        <tr>
            <th>Remark</th>
            <th>Short Name</th>
            <th>Original Link</th>
            <th>Visit Times</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${linksData}">
            <td th:text="${row.remark}">Google</td>
            <td th:text="${row.shortName}">google</td>
            <td th:text="${row.originalLink}">https://google.com</td>
            <td th:text="${row.visitTimes}">123567</td>
        </tr>
        </tbody>
    </table>
</div>
<p>Total <span th:text="${numberOfLinks}">1</span> short <span th:text="${isMultipleLinks}">link</span></p>
<hr>
<div class="position-relative">
<p>Copyrights 吾乡Losky © 2010-2024 ALL RIGHTS RESERVED.</p>
    <p>This is an opensource project, use MIT license. See <a href="https://github.com/losky2987/MyShortUrl">Github Repo</a></p>
</div>
</body>
</html>